@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900 &family=Source+Sans+Pro&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(255, 255, 255, 0.938);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #020e35;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}
button {
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    padding: 20px;
    align-items: center;
    box-shadow: 6px 0px 10px #020e3559;
    border: none;
    position: fixed;
    top: 0;
}

.on-scroll {
    background: #fff;
    z-index: 1;
}

.navbar-logo img{
    height: 50px;
    width: 50px;
}

a {
    text-decoration: none;
    color: #020e35;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

a:hover {
    border-bottom: 2px solid #ff5678;
}

.button-wide {
    background: #020e35;
    color: #fff;
    padding: 20px;
    box-shadow: 6px 10px 15px #020e3559;
    border: none;
    outline: none;
}

header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.header-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
}

.background-red {
    background: #ff5678;
    color: #fff;
}

.call-to-action {
    font-weight: 900;
    font-size: 1.3rem;
}

.header-text h1 {
    margin-bottom: 4rem;
}

.talented-people {
    display: flex;
    justify-content: space-evenly;
    max-height: 600px;
    margin-bottom: 8rem;
}

.talented-image {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.talented-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
    font-size: 1.2rem;
    word-break: keep-all;
}

.lower-border-red{
    font-size: 3rem;
    position: relative;
}
.lower-border-red::after {
    content: "";
    background: #ff5678;
    display: block;
    width: 101%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
}

.learn-more {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin-right: 30px;
}

.fill-white {
    fill: #fff;
}

.buttons {
    display: flex;
    height: 60px;
}

.watch-video {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
.container {
    max-width: 1980px;
    margin: auto;
}

.watch-video svg {
    height: 60px;
    width: 60px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}
.col {
    display: flex;
    flex-direction: column;
}

.light-background {
    position: relative;
}
.light-background::before {
    background: url('https://opendoodles.s3-us-west-1.amazonaws.com/clumsy.svg');
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    bottom: -100px;
    right: -100px;
    opacity: .1;
}

.grid-enjoy {
    display: grid;
    grid-template-areas: "number name name"
                        "number name name"
                        "number description description";
    margin: 20px 0px;
}

.number {
    grid-area: number;
    padding: 10px 10px;
    font-size: 2.7rem;
    color: #fff;
    padding-right: 16px;
    font-family: 'Merriweather', serif;
    text-shadow: -1px 1px 2px rgb(119, 119, 119),
				  1px 1px 2px rgb(119, 119, 119),
				  1px -1px 0 rgb(119, 119, 119),
				  -1px -1px 0 rgb(119, 119, 119);
}

.things-we-enjoy .row {
    justify-content: space-evenly;
}

.enjoy-name {
    grid-area: name;
    padding: 15px 0px;
    font-weight: 900;
}
.enjoy-description {
    grid-area: description;
    font-weight: 300;
}

.things-we-enjoy {
    margin-bottom: 12rem;
}

.customers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}
h2 {
    font-size: 3rem;
}

.customers-column {
    padding: 3rem;
    margin-left: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: keep-all;
    font-size: 1.2rem;
    max-width: 700px;
}

.customer-image {
    width: 35%;
}

.paragraph {
    padding: 1rem 0px;
    line-height: 1.8;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.users-header {
    text-align: center;
    width: 402px;
    margin: 4rem auto;
    word-break: keep-all;
    height: min-content;
}

.user-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    margin: auto;
}

.user-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 4rem;
    border-radius: 4rem;
    margin: 0 2rem;
    position: relative;
    padding-top: 2rem;
    font-family: 'Merriweather', serif;
    width: 400px;
}

.user-details {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 0.8rem;
}

.user-card:hover{
    box-shadow: 6px 10px 15px 5px #020e3559;
    cursor: pointer;
    background: #eee;
}
.user-card:hover > .user-details {
    display: unset;
}

.user-name {
    font-size: 1.7rem;
    padding: 1rem;
}

.users {
    margin-bottom: 6rem;
    justify-content: center;
}

.user-work {
    color: #494949;
}
.user-button button{
    margin: 0 auto;
    display: block;
}

.user-more {
    padding: 1rem 3rem;
}

.work-heading {
    text-align: center;
}

.previous-work h2{
    text-align: center;
}

.carousel-buttons {
    background: none;
    border: none;
    margin: 2.5rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.carousel-buttons:hover {
    background: #ff5678;
    color: #fff;
    padding: 0.2rem;
    text-transform: uppercase;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    grid-auto-rows: 100px;
    margin: 3rem 10rem;
}

.item {
    background: #eee;
}

.item3, .item4 {
    grid-row: span 2;
}

.item2 {
    grid-row: span 4;
}
.item1 {
    grid-row: span 3;
}
.item6 {
    grid-row: span 3;
    grid-column: span 2;
}
.item5 {
    grid-row: span 4;
}
/* .item:last-child {
    flex-grow: 10;
} */

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.header {
    text-align: center;
    margin-top: 6rem;
}

.header h4 {
    font-size: 1.4rem;
    font-weight: 700;
}

/* @media (max-aspect-ratio: 1/1) {
    .item {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    .item {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .work-gallery {
        flex-direction: row;
    }
    .item {
        height: auto;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
} */