@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900 &family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(255, 255, 255, 0.938);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #020e35;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    padding: 20px;
    align-items: center;
    box-shadow: 6px 0px 10px #020e3559;
    border: none;

}

.on-scroll {
    background: #fff;
    z-index: 1;
}

.navbar-logo img {
    height: 50px;
    width: 50px;
}

a {
    text-decoration: none;
    color: #020e35;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

a:hover {
    border-bottom: 2px solid #ff5678;
}

.button-wide {
    background: #020e35;
    color: #fff;
    padding: 20px;
    box-shadow: 6px 10px 15px #020e3559;
    border: none;
    outline: none;
}

header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.header-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
}

.background-red {
    background: #ff5678;
    color: #fff;
}

.call-to-action {
    font-weight: 900;
    font-size: 1.3rem;
}

.header-text h1 {
    margin-bottom: 4rem;
}

.talented-people {
    display: flex;
    justify-content: space-evenly;
    max-height: 600px;
    margin-bottom: 8rem;
}

.talented-image {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.talented-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
    font-size: 1.2rem;
    word-break: keep-all;
}

.lower-border-red {
    font-size: 3rem;
    position: relative;
}

.lower-border-red::after {
    content: "";
    background: #ff5678;
    display: block;
    width: 101%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
}

.learn-more {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin-right: 30px;
}

.fill-white {
    fill: #fff;
}

.buttons {
    display: flex;
    height: 60px;
}

.watch-video {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.container {
    max-width: 1980px;
    margin: auto;
}

.watch-video svg {
    height: 60px;
    width: 60px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.col {
    display: flex;
    flex-direction: column;
}

.light-background {
    position: relative;
}

.light-background::before {
    background: url('https://opendoodles.s3-us-west-1.amazonaws.com/clumsy.svg');
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    bottom: -100px;
    right: -100px;
    opacity: .1;
}

.grid-enjoy {
    display: grid;
    grid-template-areas: "number name name"
        "number name name"
        "number description description";
    margin: 20px 0px;
}

.number {
    grid-area: number;
    padding: 10px 10px;
    font-size: 2.7rem;
    color: #fff;
    padding-right: 16px;
    font-family: 'Merriweather', serif;
    text-shadow: -1px 1px 2px rgb(119, 119, 119),
        1px 1px 2px rgb(119, 119, 119),
        1px -1px 0 rgb(119, 119, 119),
        -1px -1px 0 rgb(119, 119, 119);
}

.things-we-enjoy .row {
    justify-content: space-evenly;
}

.enjoy-name {
    grid-area: name;
    padding: 15px 0px;
    font-weight: 900;
}

.enjoy-description {
    grid-area: description;
    font-weight: 300;
}

.things-we-enjoy {
    margin-bottom: 12rem;
}

.customers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

h2 {
    font-size: 3rem;
}

.customers-column {
    padding: 3rem;
    margin-left: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: keep-all;
    font-size: 1.2rem;
    max-width: 700px;
}

.customer-image {
    width: 35%;
}

.paragraph {
    padding: 1rem 0px;
    line-height: 1.8;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.users-header {
    text-align: center;
    width: 402px;
    margin: 4rem auto;
    word-break: keep-all;
    height: min-content;
}

.user-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    margin: auto;
}

.user-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 4rem;
    border-radius: 4rem;
    margin: 0 2rem;
    position: relative;
    padding-top: 2rem;
    font-family: 'Merriweather', serif;
    width: 400px;
}

.user-details {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 0.8rem;
}

.user-card:hover {
    box-shadow: 6px 10px 15px 5px #020e3559;
    cursor: pointer;
    background: #eee;
}

.user-card:hover>.user-details {
    display: unset;
}

.user-name {
    font-size: 1.7rem;
    padding: 1rem;
}

.users {
    margin-bottom: 6rem;
    justify-content: center;
}

.user-work {
    color: #494949;
}

.user-button button {
    margin: 0 auto;
    display: block;
}

.user-more {
    padding: 1rem 3rem;
}

.work-heading {
    text-align: center;
}

.previous-work h2 {
    text-align: center;
}

.carousel-buttons {
    background: none;
    border: none;
    margin: 2.5rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.carousel-buttons:hover {
    background: #ff5678;
    color: #fff;
    padding: 0.2rem;
    text-transform: uppercase;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    grid-auto-rows: 100px;
    margin: 3rem 10rem;
}

.item {
    background: #eee;
}

.item3,
.item4 {
    grid-row: span 2;
}

.item2 {
    grid-row: span 4;
}

.item1 {
    grid-row: span 3;
}

.item6 {
    grid-row: span 3;
    grid-column: span 2;
}

.item5 {
    grid-row: span 4;
}

/* .item:last-child {
    flex-grow: 10;
} */

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.header-testimonial {
    text-align: center;
    margin-top: 6rem;
}

.header-testimonial h4 {
    font-size: 1.4rem;
    font-weight: 700;
}

.rounded-testimony {
    min-height: 500px;
    border: 1px solid #ccc;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border-radius: 125px;
    padding: 0rem 3rem;
    justify-content: space-around;
    text-align: center;
}

.testimony-avatars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimony-description {
    font-family: 'Merriweather', serif;
    font-size: 0.9rem;
}

.testimony-name {
    margin-bottom: 1rem;
}

.rounded-testimony:hover {
    transform: scaleY(1.1);
    cursor: pointer;
}

.carousel-testimonial {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    scroll-snap-align: center;
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    width: calc(300px * 8);
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

*::-webkit-scrollbar {
    width: 0;
    display: none;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

.carousel-testimonial::before,
.carousel-testimonial::after {
    content: "";
    position: absolute;
    width: 300px;
    z-index: 2;
}

.carousel-testimonial::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 3));
    }
}

.message-us {
    display: flex;
    justify-content: space-around;
}

.message-img {
    width: 50%;
}

.message-form {
    width: 50%;
    margin: auto;
    max-width: 600px;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input,
textarea {
    padding: 1.5rem;
    background: #ffeef6;
    border-radius: 6px;
    border: 2px solid #020e35;
    outline: none;
    width: 100%;
}

form {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    padding: 0.5rem 1rem;
    font-family: 'Merriweather', serif;
}

.message-head {
    margin-bottom: 2.5rem;
}

.button {
    margin-top: 2rem;
    margin-left: 1rem;
}

.newsletters {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

.newsletter-form h2 {
    margin-bottom: 4rem;
}

.newsletter-form .button {
    margin-top: 4rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media > * {
    margin: 0px 10px;
}

.facebook, .linked-in {
    background: #020e35;
    width: 35px;
    height: 35px;
    z-index: -1;
    color: #fff;
    padding: 5px;
    border-radius: 7px;
}

.img {
    margin: 1rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    min-height: 500px;
    position: relative;
    align-items: baseline;
    padding: 5rem 0;
}

.footer-container::before {
    background: url('https://opendoodles.s3-us-west-1.amazonaws.com/strolling.svg');
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    bottom: 0;
    right: 0;
    opacity: .1;
    width: 700px;
    background-repeat: no-repeat;
    height: 100%;
}

.footer-container::after {
    background: url('https://opendoodles.s3-us-west-1.amazonaws.com/roller-skating.svg');
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100px;
    opacity: .1;
    width: 700px;
    background-repeat: no-repeat;
    height: 100%;
    transform: scaleX(-1);
}

.footer-column  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-column h4 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.bottom-footer {
    background: #020e35;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    font-family: 'Merriweather', serif;

}

.policies {
    display: flex;
    justify-content: space-between;
}

.policies p {
    padding: 0 4rem;
    cursor: pointer;
}

@media screen and (max-width: 1360px) {
    .customer-image {
        width: 50%;
    }

    .newsletters {
        padding: 3rem;
    }
    .newsletter-image {
        width: 45%;
    }
    .work-gallery {
        margin: 1rem;
    }
    .header-image {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .customers-column {
        padding: 1rem;
    }
    header {
        flex-direction: column-reverse;
        margin-top: 3rem;
        padding: 10px;
    }
    .header-text br {
        display: none;
    }
    .talented-people {
        flex-direction: column;
        max-height: none;
        margin: 1rem 0;
    }
    .talented-image {
        width: 100%;
    }
    .talented-text {
        width: 100%;
        max-width: none;
        padding: 1.5rem;
    }
    .buttons {
        margin: 2rem 0;
    }
    .things-we-enjoy {
        margin-bottom: 5rem;
    }
    .light-background .lower-border-red {
        width: max-content;
    }
    .row {
        /* flex-direction: column; */
        padding: 1rem;
    }
    .customers .row{
        flex-direction: column-reverse;
    }
    .customer-image, .customers-column, .header-text, .message-img, .message-form, .newsletter-image{
        width: 100%;
        max-width: unset;
    }
    .row.users {
        flex-wrap: wrap;
    }
    .work-gallery {
        grid-auto-flow: dense;     /* KEY RULE; deactive to see what happens without it; defaults to "sparse" (consecutive ordering) value */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .item1, .item2, .item3, .item4, .item5, .item6 {
        grid-row: auto;
        grid-column: auto;
    }
    .message-us{
        flex-direction: column;
    }
    .newsletters {
        flex-direction: column;
        margin-top: 1rem;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-container::before, .light-background::before {
        display: none;
    }
    .footer-container::after {
        display: none;
    }
}