@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --brand-color: #00a8ab;
  --title-color: #4d797a;
  --paragraph-color: #a7a5a6;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--paragraph-color);
  height: 100%;
  width: 100%;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

h2 {
  font-size: 2.8rem;
}

button {
  outline: none;
  border: none;
  padding: 0.8rem 2rem;
  font-weight: 700;
  width: max-content;
  cursor: pointer;
}

.button-primary {
  background: var(--brand-color);
  color: #fff;
}

.button-secondary {
  background: #fff;
  color: var(--brand-color);
}

.large-button {
  padding: 2rem 3rem;
}

.color-green {
  color: var(--brand-color);
}

a {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
}

.logo {
  font-weight: 900;
  display: flex;
  align-items: center;
}

.undark-text {
  font-weight: 500;
}

.dark-text {
  font-weight: 700;
}

.logo-icon {
  height: 24px;
  width: 20px;
  margin-right: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  align-items: center;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.nav-link {
  padding: 0 2rem;
  font-weight: 700;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: 100%;
}

header {
  display: flex;
  height: 70vh;
}

.container {
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding: 0 6rem;
  padding-right: 1rem;
}

.image {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 75vh;
}

.large-text {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.small-text {
  font-weight: 500;
  margin-bottom: 2rem;
  padding-right: 7rem;
  line-height: 1.5;
}

.search-box {
  display: flex;
  padding: 1rem 3rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 68vh;
  width: 1000px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 4px 4px 5px #a7a5a6;
  justify-content: space-around;
  height: 130px;
  align-items: center;
}

.icon {
  background: var(--brand-color);
  color: #fff;
  padding: 2rem;
  height: max-content;
}

select {
  background-color: rgba(207, 207, 207, 0.445);
  outline: none;
  /* border: 1px solid var(--paragraph-color); */
  padding: 2rem;
  width: 300px;
  box-shadow: inset 1px 1px 1px #a7a5a6;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(/assets/img/icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1.2rem auto, 100%;
}

select::-ms-expand {
  display: none;
}

.custom-select {
  margin: 0 2rem;
}

.text-center {
  text-align: center;
  font-size: 2.8rem;
  padding: 3rem;
}

.card-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.services {
  margin-bottom: 6rem;
}

.service-cards {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 400px;
  height: 400px;
  background: white;
  margin: 0 1rem;
  border-radius: 14px;
}

.card:hover {
  box-shadow: 1px 4px 15px 4px #a7a5a6;
  cursor: pointer;
}

.card-header {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}

.card-description {
  font-size: 1rem;
  text-align: center;
}

.country-cards {
  display: flex;
  max-width: 1800px;
  justify-content: space-between;
}

.image-card {
  width: 300px;
  height: max-content;
  margin-right: 2rem;
  border: 1px solid #a7a5a6;
}

.image-card:hover {
  box-shadow: 1px 4px 15px 4px #a7a5a6;
  border: none;
  cursor: pointer;
}

.image-card:hover > .country-name {
  color: var(--brand-color);
  font-weight: 700;
}

.country {
  padding: 0 6rem;
  max-width: 1800px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.column-country {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.country h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.country-name {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.link {
  display: flex;
  align-items: flex-end;
  padding: 0 2rem;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-icon svg {
  margin-right: -4rem;
  margin-left: 1rem;
}

.property-country {
  max-width: 500px;
}

.small-icon {
  display: flex;
}

.small-icon img {
  margin-right: 0.5rem;
}

.small-icon img {
  width: 15px;
  height: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.new-deal-cards {
  display: flex;
  max-width: 1800px;
  margin: 0 auto;
  margin-bottom: 4rem;
  justify-content: space-around;
}

.new-deal {
  width: 400px;
  margin: 0 2rem;
  height: max-content;
  font-size: 1.3rem;
}

.new-deal:hover {
  box-shadow: 1px 4px 15px #a7a5a6;
  cursor: pointer;
}

.new-deals {
  padding: 0 6rem;
}

.new-deal-footer {
  padding: 1rem;
  background: #fff;
}

.svg {
  width: 50px;
  height: 50px;
}

.achievement {
  display: flex;
}

.achievements {
  display: grid;
  grid-template-areas:
    "project project project . . ."
    "project project project apartment apartment apartment"
    "clients clients clients apartment apartment apartment"
    "clients clients clients award award award"
    ". . . award award award";
  grid-template-columns: repeat(6, 70px);
  gap: 3rem;
  margin-bottom: 6rem;
}

.project {
  grid-area: project;
}

.apartment {
  grid-area: apartment;
}

.clients {
  grid-area: clients;
}

.award {
  grid-area: award;
}

.achievement-card {
  border: 1px solid var(--paragraph-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  max-width: 350px;
  height: max-content;
}

.achievement-header {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.achievement-card:hover {
  background: var(--brand-color);
  cursor: pointer;
}

.centered-small {
  font-size: 1.5rem;
}

.achievement-card:hover > h4 {
  color: #fff;
}

.achievement-card:hover > .svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg)
    brightness(102%) contrast(102%);
}

.explore {
  padding: 1.3rem 2rem;
}

.centered-contact {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  line-height: 2;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--paragraph-color);
  padding: 0.5rem 0;
}

input::placeholder {
  color: var(--paragraph-color);
  font-size: 1.2rem;
}

.name,
.email {
  width: 46%;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: 2px solid var(--brand-color);
}

form {
  margin-top: 3rem;
}

.message {
  width: 100%;
  margin-top: 3rem;
}

.button-send {
  margin: 4rem auto;
}

footer {
  background: var(--brand-color);
  color: #fff;
}

.footer-container {
  padding: 2rem 10rem;
  padding-top: 8rem;
  margin: 0 auto;
  max-width: 1600px;
  font-weight: 700;
}

.register {
  height: max-content;
  padding: 2rem 3rem;
  font-size: 1.5rem;
}

.text-white {
  color: #fff;
  font-size: 2.9rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.notification {
  align-items: flex-end;
  padding-bottom: 2rem;
}

.footer-links {
  border-top: 2px solid #fff;
  padding: 6rem 0;
}

.link-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-footer h4 {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  color: #fff;
  font-size: 1.6rem;
}

.media-icon {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  justify-content: center;
  margin-right: 10px;
}
.media-icon:hover {
  background: #fff;
  cursor: pointer;
}

.media-icon:hover > svg {
  fill: var(--brand-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.social svg {
  margin-right: 10px;
}

.footer-link {
  padding: 1rem;
  padding-left: 0;
  color: #fff;
}

.whited-text {
  color: #fff;
}

.last-footer {
  align-items: center;
}
